extends ../../backend

block footer-script-content
  script(src="/js/app/epc.js")  

block header-script-content
    link(rel="stylesheet", href="/css/app/general.css")

block layout-content
    div.container-fluid
        if msg_success != null
            div.alert.alert-success
             p #{msg_success}
        if msg_error != null
            div.alert.alert-danger
             p #{msg_error}
             
        if id > 0
            h2 Edición de epc
        else
            h2 Creación de epc

        div.row
            div.col-md-6
                form(action="/epcs/save" method="POST" id="form")
                    input(type="hidden" name="id" value=id)
                    div.form-group
                        label(for="idMark") MARK ID
                        input.form-control(type="number" name="idMark" value=idMark)

                    div.form-group
                        label(for="epc") EPC
                        input.form-control(type="text" name="epc" value=epc maxlength="50")
                    
                    div.form-group
                        input(type="submit" class="btn btn-primary" value="Guardar")
                        a.btn.btn-success(href="/epcs", style="margin-left:10px;") Volver
            div.col-md-6
                img(src=img, alt="", id="image_t", style="max-width:350px; max-height:290px")




    