extends ../../backend

block layout-content
    div.container-fluid

        if msg_success != null
         div.alert.alert-success
          p #{msg_success}
        if msg_error != null
         div.alert.alert-danger
          p #{msg_error}

        div.row
            div.col-md-6
                h5 Administración de epcs
            div.col-md-6
                a.btn.btn-success(href="/epcs/create", style="float:right;") Crear un nuevo epc
        div.row(style="margin-top:20px;")
            div.col-md-12
                table.table
                    thead.thead-dark
                        th(scope="col") #Id
                        th(scope="col") Mark ID
                        th(scope="col") Epc
                        th(scope="col") Estado
                        th(scope="col") Accion
                    tbody
                        each row in data
                            tr
                                td #{row.id}
                                td #{row.idMark}
                                td #{row.epc}
                                if row.estado == '1'
                                    td 
                                     span.badge.badge-warning En uso
                                else
                                    td
                                     span.badge.badge-success Libre
                                td
                                    a.btn.btn-success(href="/epcs/edit/" + row.id) Editar
                                    a.btn.btn-danger(href="/epcs/delete/" + row.id, style="margin-left:10px") Eliminar