body{}

.card-principal {
    height: 120px;
}

 .custom-card {
    color:#303030;
    width:80%;
    min-height: 150px;
    margin-top:20px;
}

.img-content {
    position:absolute;
}

.img-content img {
    left:175px;
    top:0px;
    z-index: 1;
    position: relative;
    border-radius: 50%;
}

.more-margin {
    margin-top:60px;
}

.titulo {
    font-size:26px;
    color:#3a3a3a;
    font-weight: bold;
    min-height: 75px;
}

.titulo_disponible {
    color:#3a3a3a;
    font-size: 18px;
}

.disponible {
    font-size: 24px;
    color:white;
    font-weight: bold;
}

.numero {
    font-size:16px;
    font-weight: bold;
}

.card-disponible {
    color:white;
    background-color:green;
}
.card-no-disponible {
    color:white;
    background-color:#ffc107;
}
.card-inutilizable {
    color:white;
    background-color:red;
}

.numero_card{
    font-weight: bold;
    font-size: 32px;
}

/*

.custom-card .titulo{
    font-size: 18px;
    font-weight: bold;
}






.numero_disponible{
    font-size: 26px;
    margin-left:20px;
}
.numero_en_uso{
    font-size: 18px;
}
.numero_inutilizable{
    font-size: 18px;
} 

*/

.gradient-card{
    background: linear-gradient(to right, #90caf9, #047edf 99%) !important
}