extends ../../backend

block header-script-content
    link(href='/css/app/dashboard.css', rel='stylesheet')

block footer-script-content
  script(src="/js/app/dashboard.js")  
  

block layout-content
  div.container-fluid
    div.row
        div.col-md-4
            div.card.text-center.card-disponible.card-principal
                div.card-body
                    h2 Disponibles
                    p.numero_card 0
        div.col-md-4
            div.card.text-center.card-no-disponible.card-principal
                div.card-body
                    h2 No disponibles
                    p.numero_card 0
        div.col-md-4
            div.card.text-center.card-inutilizable.card-principal
                div.card-body
                    h2 Inutilizable
                    p.numero_card 0
  hr
  div.containe-fluid
    div.row.contenido_dashboard