extends ../../backend

block header-script-content
    link(href='/css/app/general.css', rel='stylesheet')
    link(rel="stylesheet", href="/css/tempusdominus-bootstrap-4.min.css")
    link(rel="stylesheet", href="/css/regular.css")

block footer-script-content
  script(src="/js/jquery.min.js")
  script(src="/js/moment.min.js")  
  script(src="/js/tempusdominus-bootstrap-4.min.js")  
  script(src="/js/app/informe.js")  
  

block layout-content
  div.container-fluid
    div.row
        div.col-md-12
         div.form-group
          label(for="fechaInicio") Fecha Inicio
                        div.input-group.date#datetimepicker9(data-target-input="nearest")
                         input.form-control.datetimepicker-input(type="text" data-target="#datetimepicker9" name="fechaInicio" value=moment(fechaVencimiento).format('DD/MM/YYYY'))
                         div.input-group-append(data-target="#datetimepicker9" data-toggle="datetimepicker")
                          div.input-group-text
                           i.fa.fa-calendar
          label(for="fechaTermino") Fecha Termino
                        div.input-group.date#datetimepicker10(data-target-input="nearest")
                         input.form-control.datetimepicker-input(type="text" data-target="#datetimepicker10" name="fechaTermino" value=moment(fechaVencimiento).format('DD/MM/YYYY'))
                         div.input-group-append(data-target="#datetimepicker10" data-toggle="datetimepicker")
                          div.input-group-text
                           i.fa.fa-calendar
          label(for="idTipo") Tipo de herramienta
                select.form-control(name="idTipo")
                    option(value="-1") Selecciona el tipo de herramienta
         div.form-group
          button.btn.btn-success.solicitar Buscar Reporte
  hr
  div.containe-fluid
    div.row
     div.col-md-12
      button.btn.btn-success.descarga(disabled="disabled") Descargar