extends ../../backend

block footer-script-content
  script(src="/js/jquery.min.js")
  script(src="/js/moment.min.js")  
  script(src="/js/tempusdominus-bootstrap-4.min.js")  
  script(src="/js/app/herramienta.js")

block header-script-content
    link(rel="stylesheet", href="/css/app/general.css")
    link(rel="stylesheet", href="/css/regular.css")
    link(rel="stylesheet", href="/css/tempusdominus-bootstrap-4.min.css")
    

block layout-content
    div.container-fluid
        if msg_success != null
            div.alert.alert-success
             p #{msg_success}
        if msg_error != null
            div.alert.alert-danger
             p #{msg_error}
             
        if id > 0
            h2 Edición de herramienta
        else
            h2 Creacion de herramienta

        div.row
            div.col-md-6
                form(action="/herramientas/save" method="POST")
                    input(type="hidden" name="id" value=id)
                    input(type="hidden" name="_tipo_hidden" value=idTipo)
                    div.form-group
                        label(for="nombre") Nombre
                        input.form-control(type="text" name="nombre" value=nombre)
                    if id > 0
                     div.form-group
                         label(for="epc") Epc (Identificador)
                         input.form-control(type="text" name="epc_faker" value=epc disabled="disabled")
                         input.form-control(type="hidden" name="epc" value=epc)
                    else
                     label(for="epc_list") Lista EPC Disponibles
                     select(name="epc_list").form-control
                      option Selecciona un epc
                     input.form-control(type="hidden" name="epc" value=epc)
                    div.form-group
                        label(for="detalle") Detalle
                        
                        textarea.form-control(name="detalle") #{detalle}
                    div.form-group
                        label(for="fechaVencimiento") Fecha Vencimiento
                        div.input-group.date#datetimepicker9(data-target-input="nearest")
                         if fechaVencimiento == '' || fechaVencimiento == null
                           input.form-control.datetimepicker-input(type="text" data-target="#datetimepicker9" name="fechaVencimiento")
                         else
                           input.form-control.datetimepicker-input(type="text" data-target="#datetimepicker9" name="fechaVencimiento" value=moment(fechaVencimiento).format('DD/MM/YYYY'))
                         div.input-group-append(data-target="#datetimepicker9" data-toggle="datetimepicker")
                          div.input-group-text
                           i.fa.fa-calendar
                    div.form-group
                    label(for="imagen") Imagen
                        input.form-control(type="file" name="imagen")
                        input(type="hidden" name="full_image" value=img)
                        
                    div.form-group
                        label(for="tipo") Tipo de herramienta
                        select.form-control(name="idTipo")
                            option(value="-1") Selecciona el tipo de herramienta
                    div.form-group
                        input(type="submit" class="btn btn-primary" value="Guardar")
                        a.btn.btn-success(href="/herramientas", style="margin-left:10px;") Volver

            div.col-md-6
                img(src=img, alt="", id="image_t", style="max-width:350px; max-height:290px")




    