extends ../../backend

block layout-content
    div.container-fluid

        if msg_success != null
         div.alert.alert-success
          p #{msg_success}
        if msg_error != null
         div.alert.alert-danger
          p #{msg_error}

        div.row
            div.col-md-6
                h5 Administración de herramientas
            div.col-md-6
                a.btn.btn-success(href="/herramientas/create", style="float:right;") Crear un nueva herramienta
        div.row(style="margin-top:20px;")
            div.col-md-12
                table.table
                    thead.thead-dark
                        th(scope="col") #Id
                        th(scope="col") Nombre
                        th(scope="col") Epc
                        th(scope="col") Tipo
                        th(scope="col") Accion
                    tbody
                        each row in data
                            tr
                                td #{row.id}
                                td #{row.nombre}
                                td #{row.epc}
                                td #{row.idTipo}
                                td
                                    a.btn.btn-success(href="/herramientas/edit/" + row.epc) Editar
                                    a.btn.btn-danger(href="/herramientas/delete/" + row.epc, style="margin-left:10px") Eliminar