block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/css/fontawesome.min.css', rel='stylesheet')
    link(href='/css/admin.css', rel='stylesheet')

    title #{title} | GOALLIANCE

    block header-script-content

  body
    nav.navbar.navbar-expand.navbar-dark.bg-dark.static-top
        div.container-fluid
            img(src="/images/logo.png" style="float:left;width:100px;height:65px;")
        div.row
            div.col-md-6
            div.col-md-6
        ul.navbar-nav.ml-auto.ml-md-0
            li.nav-item.dropdown.no-arrow.mx-1
            a#alertDropdown.nav-link.dropdown-toggle(href="javascript:;") Salir
                i.fas.fa-sign-out-alt
    
    div#wrapper
        ul.sidebar.navbar-nav
            li.nav-item
                h5
                    a.nav-link(href="/" data-id="none") Dashboard
            li.nav-item
                h5
                    a.nav-link(href="/usuarios" data-id="none") Usuarios
            li.nav-item
                h5
                    a.nav-link(href="/herramientas" data-id="none") Herramientas
            li.nav-item
                h5
                    a.nav-link(href="/epcs" data-id="none") Epcs
            li.nav-item
                h5
                    a.nav-link(href="/herramientatipo" data-id="none") 
                        p Herramienta <br/> Tipo
            li.nav-item
                h5
                    a.nav-link(href="/informe" data-id="none") Informe

        div#content-wrapper
            div.container-fluid
                block layout-content
            footer.sticky-footer
                div.container.my-auto
                    div.copyright.text-center.my-auto
    block footer-script-content