block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href='/css/bootstrap.min.css', rel='stylesheet')

    title #{title} | GOALLIANCE
  body
    div#root
      block layout-content