extends ../../backend

block footer-script-content
  script(src="/js/app/usuarios.js")  

block header-script-content
    link(rel="stylesheet", href="/css/app/general.css")

block layout-content
    div.container-fluid

        if msg_success != null
            div.alert.alert-success
             p #{msg_success}
        if msg_error != null
            div.alert.alert-danger
             p #{msg_error}
        
        if id > 0
            h2 Edición de usuario
        else
            h2 Creacion de usuario

        div.row
            div.col-md-6
                form(action="/usuarios/save" method="POST")
                    input(type="hidden" name="id" value=id)
                    div.form-group
                        label(for="nombre") Nombre
                        input.form-control(type="text" name="nombre" value=nombre)
                    div.form-group
                    label(for="imagen") Imagen
                        input.form-control(type="file" name="imagen")
                        input(type="hidden" name="full_image" value=img)
                        
                    div.form-group
                        label(for="tipo") Tipo de usuario
                        select.form-control(name="tipo")
                            option(value="-1") Selecciona el tipo de usuario
                            option(value="1" selected=(tipo == 1)) Administrador
                            option(value="2" selected=(tipo == 2)) Normal
                    div.form-group
                        label(for="lector_identificador") Run usuario(sin digito verificador)
                        input.form-control(type="number" name="lector_identificador" value=lector_identificador maxlength=8)
                    div.form-group
                        input(type="submit" class="btn btn-primary" value="Guardar")
                        a.btn.btn-success(href="/usuarios", style="margin-left:10px;") Volver
            div.col-md-6
                img(src=img, alt="", id="image_t", style="max-width:350px; max-height:290px")




    