extends ../../backend

block layout-content
    div.container-fluid
     
        if msg_success != null
         div.alert.alert-success
          p #{msg_success}
        if msg_error != null
         div.alert.alert-danger
          p #{msg_error}

        div.row
            div.col-md-6
                h5 Administración de usuarios
            div.col-md-6
                a.btn.btn-success(href="/usuarios/create", style="float:right;") Crear un nuevo usuario
        div.row(style="margin-top:20px;")
            div.col-md-12
                table.table
                    thead.thead-dark
                        th(scope="col") #Id
                        th(scope="col") Nombre
                        th(scope="col") Tipo
                        th(scope="col") Accion
                    tbody
                        each row in data
                            tr
                                td #{row.lector_identificador}
                                td #{row.nombre}
                                td 
                                    span.badge.badge-secondary #{(row.tipo == 1) ? 'Admin' : 'Normal'}
                                td
                                    a.btn.btn-success(href="/usuarios/edit/" + row.id) Editar
                                    if row.estado == '1'
                                        a.btn.btn-danger(href="/usuarios/enable_disable/" + row.lector_identificador, style="margin-left:10px") Desactivar
                                    else
                                        a.btn.btn-success(href="/usuarios/enable_disable/" + row.lector_identificador, style="margin-left:10px") Activar