extends ../../backend

block footer-script-content
  script(src="/js/app/epc.js")  

block header-script-content
    link(rel="stylesheet", href="/css/app/general.css")

block layout-content
    div.container-fluid
        if msg_success != null
            div.alert.alert-success
             p #{msg_success}
        if msg_error != null
            div.alert.alert-danger
             p #{msg_error}
             
        if id > 0
            h2 Edición de tipo de herramienta
        else
            h2 Creación de tipo de herramienta

        div.row
            div.col-md-6
                form(action="/herramientatipo/save" method="POST" id="form")
                    input(type="hidden" name="id" value=id)
                    div.form-group
                        label(for="tipo") Tipo
                        input.form-control(type="text" name="tipo" value=tipo)
                    div.form-group
                        input(type="submit" class="btn btn-primary" value="Guardar")
                        a.btn.btn-success(href="/herramientatipo", style="margin-left:10px;") Volver
            div.col-md-6
                




    