extends ../../backend

block layout-content
    div.container-fluid

        if msg_success != null
         div.alert.alert-success
          p #{msg_success}
        if msg_error != null
         div.alert.alert-danger
          p #{msg_error}

        div.row
            div.col-md-6
                h5 Administración de tipos de herramientas
            div.col-md-6
                a.btn.btn-success(href="/herramientatipo/create", style="float:right;") Crear un nuevo tipo herramienta
        div.row(style="margin-top:20px;")
            div.col-md-12
                table.table
                    thead.thead-dark
                        th(scope="col") #Id
                        th(scope="col") tipo
                        th(scope="col") Accion
                    tbody
                        each row in data
                            tr
                                td #{row.id}
                                td #{row.tipo}
                                td
                                    a.btn.btn-success(href="/herramientatipo/edit/" + row.id) Editar
                                    a.btn.btn-danger(href="/herramientatipo/delete/" + row.id, style="margin-left:10px") Eliminar